# Reference file : https://github.com/dell/csi-powerflex/tree/main/samples
#
{% for array in powerflex_info.Array_Details %}
- username: "{{ username }}"
  password: "{{ password }}"
  systemID: "{{ array.id }}"
  allSystemNames: "{{ array.mdmCluster.master.name}}"
  endpoint: "{{ gateway_host }}"
  skipCertificateValidation: true 
  mdm: "{{ array.mdmCluster.master.ips | join(',') }}"
{% endfor %}

