{% extends "base.html" %}

<title>{% block title %}PowerFlex CSI Helper{% endblock %}</title>
{% block content %}
<main class="container">
	<section id="endpoint-details">
		<h1>Launch PowerFlex CSI config generation</h1>
		<form action="/submit" method="post">
			<div class="grid">
				<input
						type="text"
						name="endpoint"
						placeholder="Endpoint"
						aria-label="Endpoint"
						required
						/>
				<input
						type="text"
						name="username"
						placeholder="Username"
						aria-label="Username"
						required
						/>
				<input
						type="password"
						name="password"
						placeholder="Password"
						aria-label="Password"
						required
						/>
				<button type="submit">Test!</button>
			</div>
		</form>
</main>

<main class="container">
	<h1>List Jobs</h1>
	<table id="jobStatus">
		<tr>
			<th>Endpoint</th>
			<th>Status</th>
			<th>Details</th>
			<th>Download</th>
		</tr>
		<!-- Job status will be populated here -->
	</table>
</main>
{% endblock %}
{% block javascript %}
<script>
	$(document).ready(function() {
		function updateJobStatus() {
			$.getJSON('/status', function(data) {
				$('#jobStatus').empty();
				$('#jobStatus').append('<tr><th>Endpoint</th><th>Status</th><th>Details</th></tr>');
				$.each(data, function(endpoint, value) {
					$('#jobStatus').append('<tr><td>' + endpoint + '</td><td>' + value.status + '</td><td><a href="/job/'
						+ endpoint + '">View Details</a></td>+<td><a href="/download/' + endpoint + '"><button>Download!</button></a></td></tr>');

				});
			});
		}

		// Update job status every second
		setInterval(updateJobStatus, 1000);
	});

</script>
{% endblock %}
